html, body {
    height: 100%;
}

.block {
    position: relative;
    margin: 0 auto;
    min-height: 100%;
    text-align: center;
    z-index: 2;
    background: black;
    display: flex;
    align-items: center;
    color: white;
}

.details {
    position: relative;
    margin: 0 auto;
    min-height: 120%;
    z-index: 2;
    background: white;
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: center;
    color: black;
}

.exp_title {
    text-align: center;
}

.item {
    margin: 0 auto;
}

.one {
    background: black;
}

.two {
    background: rgb(78, 42, 132);
    min-height: 110%;
}

.three {
    background: white;
    color: black;
    min-height: 110%;
}

a:link {
    color: white;
    text-decoration: underline;
}

a:visited {
    color: white;
    text-decoration: underline;
}

a:hover {
    color: rgba(255, 255, 255, 0.8);
}

.four {
    background-color: rgb(220, 57, 43);
    color: white;
    min-height: 110%;
}

a.b:link {
    color: white;
}

a.b:hover {
    color: rgba(0, 0, 0, 0.5);
}

a.b:visited {
    color: white;
}

.five {
    background: rgb(1, 119, 181);
    color: white;
    min-height: 110%;
}

.title {
    z-index: 2;
    position: relative;
    margin: 0 auto;
}

h2 {
    font-weight: 200;
    font-size: 2em;
}

a.details:link {
    text-decoration: none;
}

a.details:hover {
    text-decoration: none;
    color: red;
}

@media only screen and (max-width: 480px) {
    h2 {
        font-weight: 200;
        font-size: 2em;
        padding: 10px;
    }
}

@media only screen and (max-width: 767px) {
    .details {
        padding-top: 3.5em;
        padding-bottom: 3.5em;
    }
}
